{% extends "layout.twig" %}

{% block scripts %}
    <script>

        var TRANS = {
            remove_scrobble: {{"remove_scrobble"|trans|json_encode()|raw}},
            ignore_scrobble: {{"ignore_scrobble"|trans|json_encode()|raw}}
        };
    </script>
    {{ parent() }}
{% endblock %}

{% block menu %}
    {{ parent() }}
    <li class="active"><a href="{{ url('home') }}">{{"home"|trans}}</a></li>
    <li><a href="{{ url('ignores') }}">{{"ignores"|trans}}</a></li>
    <li><a href="{{ url('logout') }}">{{"logout"|trans}}</a></li>
{% endblock %}

{% block page %}
    <div class="row">
        <h1>{{ "welcome"|trans|format(user) }}</h1>
        <p class="lead">
            {{"intro_home"|trans}}
        </p>
        <hr>
    </div>
    <div class="row" id="nowplaying">
        <div class="span4 offset2">
            <h2>{{"north"|trans}}</h2>
            <div data-where="nk" class="thumbnail">
                <div id="np-noord">
                    <img src="{{ app.request.basepath }}/img/stopped.jpg">
                    <h4 class="artist"></h4>
                    <h4 class="title muted"></h4>
                </div>
                <form method="post" action="{{ url('switch', {where: 'nk'}) }}" class="center">
                    {% if nk %}
                        <input type="submit" class="btn btn-danger" value="{{"north_leave"|trans}}">
                    {% else %}
                        <input type="submit" class="btn btn-success" value="{{"north_enter"|trans}}">
                    {% endif %}
                </form>
            </div>


        </div>
        <div class="span4">
            <h2>{{"south"|trans}}</h2>
            <div data-where="zk" class="thumbnail">
                <div id="np-zuid">
                    <img src="/img/stopped.jpg">
                    <h4 class="artist"></h4>
                    <h4 class="title muted"></h4>
                </div>
                <form method="post" action="{{ url('switch', {where: 'zk'}) }}">
                    {% if zk %}
                        <input type="submit" class="btn btn-danger" value="{{"south_leave"|trans}}">
                    {% else %}
                        <input type="submit" class="btn btn-success" value="{{"south_enter"|trans}}">
                    {% endif %}
                </form>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2>Last scrobbles</h2>
            <table class="table table-striped" id="scrobbles" data-url="{{ url('update') }}">
                <thead>
                    <tr>
                        <th>{{"artist"|trans}}</th>
                        <th>{{"track"|trans}}</th>
                        <th>{{"scrobbled"|trans}}</th>
                        <th>{{"delete"|trans}}</th></tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal hide" id="track_ignore" role="dialog" tabindex="-1" aria-hidden="true" data-url="{{ url('ignore') }}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{{"ignore"|trans}}</h3>
        </div>
        <div class="modal-body">
            <p>{{"ignore_confirm"|trans}}</p>
        </div>
        <div class="modal-footer">
            <button id="ignore_cancel" data-dismiss="modal" aria-hidden="true" class="btn">{{"cancel"|trans}}</button>
            <button id="ignore_artist" class="btn btn-primary">{{"artist"|trans}}</button>
            <button id="ignore_track" class="btn btn-primary">{{"track"|trans}}</button>
        </div>
    </div>

    <div class="modal hide" id="remove_scrobble" role="dialog" tabindex="-1" aria-hidden="true" data-url="{{ url('delete') }}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{{"delete"|trans}}</h3>
        </div>
        <div class="modal-body">
            <p>{{"delete_scrobble_confirm"|trans}}</p>
        </div>
        <div class="modal-footer">
            <button id="remove_cancel" data-dismiss="modal" aria-hidden="true" class="btn">{{"cancel"|trans}}</button>
            <button id="remove_remove" class="btn btn-primary">{{"delete"|trans}}</button>
        </div>
    </div>
{% endblock %}
