{% extends "layout.twig" %}

{% block menu %}
    {{ parent() }}
    <li><a href="{{ url('logout') }}">{{"logout"|trans}}</a></li>
{% endblock %}

{% block page %}
    <div class="row">
        <h1>Welcome {{user}}</h1>
        <p class="lead">
            Doe een check-in in de kantine waar je zit. Genoeg gehad? Klik op het goeie knopje om
            de kantine te verlaten. De scrobbler blijft werken, ook als je je browser sluit. Elke
            dag om 00:00 wordt je automatisch uit de kantine gehaald.
        </p>
        <hr>
    </div>
    <div class="row" id="nowplaying">
        <div class="span4 offset2">
            <h2>Noordkantine</h2>
            <div data-where="nk" class="thumbnail">
                <div id="np-noord">
                    <img src="http://userserve-ak.last.fm/serve/300x300/71997588.png">
                    <h4>Cher</h4>
                    <h4 class="muted">Believe</h4>
                </div>
                <form method="post" action="{{ url('switch', {where: 'nk'}) }}" class="center">
                    {% if nk %}
                        <input type="submit" class="btn btn-danger" value="Noord verlaten">
                    {% else %}
                        <input type="submit" class="btn btn-success" value="Noord check-in">
                    {% endif %}
                </form>
            </div>


        </div>
        <div class="span4">
            <h2>Zuidkantine</h2>
            <div data-where="zk" class="thumbnail">
                <div id="np-zuid">
                    <img src="http://userserve-ak.last.fm/serve/300x300/69591230.png">
                    <h4>Foo Fighters</h4>
                    <h4 class="muted">Everlong</h4>
                </div>
                <form method="post" action="{{ url('switch', {where: 'nk'}) }}">
                    {% if zk %}
                        <input type="submit" class="btn btn-danger" value="Zuid verlaten">
                    {% else %}
                        <input type="submit" class="btn btn-success" value="Zuid check-in">
                    {% endif %}
                </form>
            </div>

        </div>
    </div>
    <h2>Last scrobbles</h2>
    <table class="table table-striped" id="scrobbles" data-url="{{ url('nowplaying') }}">
        <thead>
            <tr><th>Artist</th><th>Track</th><th>Scrobbled</th><th>Delete</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>Foo Fighters</td>
                <td>Everlong</td>
                <td>15:02</td>
                <td>
                    <a class="btn btn-warning btn-small" title="Remove scrobble" href="#remove_scrobble" data-toggle="modal">
                        <span class="icon-trash icon-white"></span>
                    </a>
                    <a class="btn btn-danger btn-small" title="Ignore track" href="#ignore_track" data-toggle="modal">
                        <span class="icon-remove icon-white"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Foo Fighters</td>
                <td>Everlong</td>
                <td>15:02</td>
                <td>
                    <a class="btn btn-warning btn-small" title="Remove scrobble" href="#remove_scrobble" data-toggle="modal">
                        <span class="icon-trash icon-white"></span>
                    </a>
                    <a class="btn btn-danger btn-small" title="Ignore track" href="#ignore_track" data-toggle="modal">
                        <span class="icon-remove icon-white"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Foo Fighters</td>
                <td>Everlong</td>
                <td>15:02</td>
                <td>
                    <a class="btn btn-warning btn-small" title="Remove scrobble" href="#remove_scrobble" data-toggle="modal">
                        <span class="icon-trash icon-white"></span>
                    </a>
                    <a class="btn btn-danger btn-small" title="Ignore track" href="#ignore_track" data-toggle="modal">
                        <span class="icon-remove icon-white"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Foo Fighters</td>
                <td>Everlong</td>
                <td>15:02</td>
                <td>
                    <a class="btn btn-warning btn-small" title="Remove scrobble" href="#remove_scrobble" data-toggle="modal">
                        <span class="icon-trash icon-white"></span>
                    </a>
                    <a class="btn btn-danger btn-small" title="Ignore track" href="#ignore_track" data-toggle="modal">
                        <span class="icon-remove icon-white"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Foo Fighters</td>
                <td>Everlong</td>
                <td>15:02</td>
                <td>
                    <a class="btn btn-warning btn-small" title="Remove scrobble" href="#remove_scrobble" data-toggle="modal">
                        <span class="icon-trash icon-white"></span>
                    </a>
                    <a class="btn btn-danger btn-small" title="Ignore track" href="#ignore_track" data-toggle="modal">
                        <span class="icon-remove icon-white"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal hide" id="ignore_track" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Ignore</h3>
        </div>
        <div class="modal-body">
            <p>You may choose to ignore this artist or this track in the future.</p>
        </div>
        <div class="modal-footer">
            <a href="#" id="remove_cancel" data-dismiss="modal" aria-hidden="true" class="btn">Cancel</a>
            <a href="#" id="ignore_artist" class="btn btn-primary">Artist</a>
            <a href="#" id="ignore_track" class="btn btn-primary">Track</a>
        </div>
    </div>

    <div class="modal hide" id="remove_scrobble" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Remove</h3>
        </div>
        <div class="modal-body">
            <p>Remove this scrobble?</p>
        </div>
        <div class="modal-footer">
            <a href="#" id="remove_cancel" data-dismiss="modal" aria-hidden="true" class="btn">Cancel</a>
            <a href="#" id="remove_remove" class="btn btn-primary">Remove</a>
        </div>
    </div>
{% endblock %}
