<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!--[if lt IE 9]>
              <script src="{{ app.request.basepath }}/js/html5.js"></script>
            <![endif]-->
            {% block styles %}
                <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">
                <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet">
                <link href="{{ app.request.basepath }}/css/bootstrap-responsive.min.css" rel="stylesheet">
            {% endblock %}
            {% block scripts %}
                <script src="{{ app.request.basepath }}/js/jquery.min.js"></script>
                <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
                <script src="{{ app.request.basepath }}/js/main.js"></script>
            {% endblock %}
            <title>{% block title %}MarietjeScrobbler{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ url('index') }}">MarietjeScrobbler</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            {% block menu %}

                            {% endblock %}
                        </ul>
                        {% block after_menu %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="page">
            {% block page %}
                <div class="row">
                    <h1>Whoops</h1>
                    <p>Looks like someone forgot to add content</p>
                </div>
            {% endblock %}
            <div class="row">
                <hr>
                <footer>
                    <p class="muted">&copy; Nobody and the rest</p>
                </footer>
            </div>
        </div>
    </body>
</html>
